* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

body, html {
  background-color: #f0f1f2;
}

a:visited, a {
  text-decoration: none;
  color: #00f;
}

#navbar {
  display: block;
  background-color: #25d606;
}

#navbar ul {
  width: 100%;
  padding: .5rem;
}

#navbar ul li {
  display: inline-block;
}

#navbar ul li a {
  display: block;
  padding: .25rem .5rem;
  text-decoration: none;
  color: #1b9e04;
  font-weight: bold;
  background-color: #7de76b;
}

#main {
  padding: 1rem;
  padding-top: 2rem;
}

#main .edition {
  border: 3px solid #25d606;
  border-radius: .25rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

#main .edition header {
  background-color: #25d606;
  padding: .5rem;
  position: relative;
  margin-bottom: 2rem;
  color: #fff;
}

#main header .date {
  display: block;
  text-align: right;
  bottom: .5rem;
  right: .5rem;
}

#main figure img {
  display: block;
  margin: auto;
  max-width: 100%;
}

#main .edition-list .edition-item {
  border: 3px solid #25d606;
  border-radius: .5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
}

#main .edition-list .cover {
  width: 100%;
  height: 150px;
  display: flex;
  flow-direction: column;
}

#main .edition-list .cover img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: center;
}

#main .edition-list .edition-item figcaption {
  display: block;
  padding: .5rem;
  color: #fff;
  background-color: #25d606;
}

#main .edition-list .edition-item figcaption .date {
  display: block;
  text-align: right;
}

@media (min-width: 700px) {
  #navbar ul, #main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #main .edition figure img {
    max-width: 90%;
  }

  #main .edition-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  #navbar ul, #main {
    max-width: 900px;
  }

  #main .edition-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

